<div class="row-fluid">
		<div class="span6">
			<hr>
			<div class="widget-box">
				<div class="widget-header">
					<h4 class="smaller">
						manuel tilmelding <i class="icon-hand-right"></i>
						<small>Værd at vide</small>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<p class="muted">
							Send sms-beskeder til et enkelt medlem, hvis du ønsker at give et særtilbud, som ikke gælder andre medlemmer.
						</p>
					</div>
				</div>
			</div>
		</div><!-- /span -->
	</div><!-- /row-fluid -->