<p>Kære <%= @user_name %>, <br />
Du har anmodet om at nulstille dit password på clubnovus.dk. 

For at gøre dette bedes du venligst klikke på linket forneden.
</p>

<p><%= link_to @url, @url %></p>

<p>
 Hvis du ikke har anmodet om nulstilling af dit password, skal du blot ignorere denne email.
</p>

<p>Hav en fantastisk dag!</p>

<p> Med venlig hilsen </p>
<p>Club Novus</p>
