<p>Kære <%= @merchant_user.name %>, <br />
Du har anmodet om at nulstille dit password på clubnovus.dk. 

For at gøre dette bedes du venligst klikke på linket forneden.
</p>

<p><%= link_to @url, @url %>.</p>

<p>
Hvis du ikke har anmodet om nulstilling af dit password, skal du blot ignorere denne email.

Hav en fantastisk dag!

Med venlig hilsen
Club Novus
</p>