
<p>Kære <%= @merchant_user.name %>,<br />
Velkommen som ny test-butik i Club Novus. Du er blevet tilmeldt vores test som starter i december 2013 og slutter ultimo januar 2014<br />
</p>

<p>
Klik på linket nedenfor for at logge ind første gang og vælge dit password.<br />
Første login: <%= link_to @url, @url %>
</p>

<p>
Email (brugernavn): <%= @merchant_user.user.try(:email) %>
</p>

<p>
Når du valgt password, kan du logge ind på din kundeklub på test.clubnovus.dk. Klik på linket "For butikker" i toppen af siden og klik på knappen "Login på butikskonto".
</p>

<p>
Hvis du har spørgsmål skal du være velkommen til at kontakte vores supportafdeling.
</p>

<p>
Vi ser frem til et spændende samarbejde om at skabe loyale kunder for din butik.
</p>

<p>
Hav en fantastisk dag!
</p>

<p>
Med venlig hilsen<br />
Michel K. Hansen<br />
Administrerende direktør<br />
Club Novus<br />
www.clubnovus.dk
</p>