<% provide(:title, 'Rediger medlem') %>
<% provide(:description, 'Rediger medlemsoplysninger') %>
<% content_for :breadcrumps do %>
  <li class="active">Rediger medlem</li>
<% end %>

<%= render 'form' %>

<% content_for :scripts do %>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });

    jQuery(function($) {
      $('.date-picker').datepicker().next().on("click", function(){
        $(this).prev().focus();
      });
          
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        language: 'da',
        autoclose: true
      });
    });//Close Javascript function

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=155627067978522";
            fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
</script> 
<% end %>