<% provide(:title, 'Nyt medlem') %>
<% provide(:description, 'Tilmelding - Club Novus') %>
<% content_for :breadcrumps do %>
  <li class="active">Nyt medlem</li>
<% end %>

<div class="row-fluid">
  <div class="span6 offset3">
      <div class="headline"><h3>Bliv gratis medlem af Danmarks mest lokale kundeklub</h3></div>
      <p>Med club novus kan dine favoritbutikker tilbyde dig medlemsfordele og attraktive tilbud, når du vælger at handle lige nede om hjørnet. Som medlem af club novus støtter du samtidig et blomstrende butiksmiljø i dit eget nærområde. </p>
      <p>Som medlem opnår du følgende fordele:</p>
      <ul class="unstyled">
          <li><i class="icon-ok color-green"></i> Universiel kunde-fordelsklub i dit lokalområde</li>
          <li><i class="icon-ok color-green"></i> Modtag spændende medlemstilbud og særrabatter </li>
          <li><i class="icon-ok color-green"></i> Få unik velkomstgave fra dine favoritbutikker </li>
          <li><i class="icon-ok color-green"></i> Bliv en del af fællesskabet om at styrke den lokale handel </li>
      </ul>
      <p> Udfyld din medlemsprofil forneden og gå opdagelse i vores katalog af butikker i dit lokalområde </p>
  </div>
</div>

<%= render 'form' %>

<% content_for :scripts do %>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });

    jQuery(function($) {
      $('.date-picker').datepicker().next().on("click", function(){
        $(this).prev().focus();
      });
      //http://silviomoreto.github.io/bootstrap-select/
      $('.selectpicker').selectpicker({
        size: 4,
        noneSelectedText: 'Vælg køn'
      });
          
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        language: 'da',
        autoclose: true
      });

      $("form").on("submit", function () {
          if($(this).valid()) {
            $(this).find(".submission").prop("disabled", true);
          }
      });

    });//Close Javascript function

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&appId=155627067978522";
            fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
</script> 
<% end %>