
<div class="widget-box" style="margin-top:20px">
	<hr>
	<div class="widget-header">
		<h4 class="smaller">
			oprettelse/redigering af SMS-kampagne <i class="icon-hand-right"></i>
			<small>Tjekliste</small>
		</h4>
	</div>
	<div class="widget-body">
		<div class="widget-main">
			<p class="muted">
				Husk at checke følgende huskeregler når du skriver tilbudsteksten til dine medlemmer:
			</p>
			<ul class="unstyled spaced">
				<li>
               		<i class="icon-ok green"></i>
                	Overholdelse af markedsføringslovens bestemmelser om tilbud.
                </li>
				<li>
               		<i class="icon-ok green"></i>
                	Præcis beskrivelse af hvilke produkter/ydelser som tilbuddet omfatter. 
                </li>
                <li>
               		<i class="icon-ok green"></i>
                	Beskrivelse af rabatstørrelsen, typisk i procent (eg. 20% på alt)
                </li>
                <li>
               		<i class="icon-ok green"></i>
                	Betingelser for tilbuddet. Hvor mange enheder kan købes pr. medlem og gælder tilbuddet evt. også for en ven. Skal kunden købe for et mindstebeløb før rabatten udløses osv.
                </li>
                <li>
               		<i class="icon-ok green"></i>
                	Gyldigheden af tilbuddet. Kan nævnes i teksten 'Gælder kun i dag' eller 'Gyldig til: 12.02.2014' m.v.
                </li>
			</ul>
			<p class="muted"> Få ideer til nye kampagner i vores sms-guide. Klik her.</p>
		</div>
	</div>
</div>
			
		