<div class="row-fluid">
		<div class="span6">
			<hr>
			<div class="widget-box">
				<div class="widget-header">
					<h4 class="smaller">
						sms-kampagner <i class="icon-hand-right"></i>
						<small>Værd at vide</small>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<p class="muted">
							Listen ovenover viser sms-kampagner som er afsluttede dvs. hvor sms'erne er afsendt til medlemmerne.
						</p>
						<p class="muted">
							Når du klikker på "Se Detaljer" kan du læse leveringsrapporten for hvert medlem i kampagnen. De fleste medlemmer modtager sms'en korrekt, men der kan være forsinkelser i nogle situationer.
						</p>
					</div>
				</div>
			</div>
		</div><!-- /span -->
	</div><!--/row-fluid -->