<p>Kære <%= @member.name %>, <br />
Du modtager denne email fordi du har anmodet om at bekræfte din emailadresse.
</p>

<p>Bekræft venligst din e-mail ved at klikke på linket forneden.
</p>

<p><%= link_to @url, @url %></p>

<p>
Hav en fantastisk dag!<br /><br />

Med venlig hilsen<br />
Club Novus<br />
www.clubnovus.dk
</p>