<p>Kære <%= @member.name %>, <br />
Du vil nu ikke længere modtage tilbud og nyheder fra "<%= @merchant_store.store_name %>" i <%= @merchant_store.city %>.
<br /><br />
Håber vi ses igen.
</p>

<p>

Hav en fantastisk dag!<br /><br />

Med venlig hilsen<br />
Club Novus<br />
www.clubnovus.dk<br />
</p>