<p>Kære <%= @member.name %>, <br />
Du er nu tilmeldt "<%= @merchant_store.store_name %>" i <%= @merchant_store.city %>.
</p>

<p>
Se frem til at modtage spændende nyheder og tilbud fra dine lokale butikker.<br /><br />

Hav en fantastisk dag!<br /><br />

Med venlig hilsen<br />
Club Novus<br />
www.clubnovus.dk
</p>