<p>Kære <%= @member.name %>, <br />
Her er velkomstgaven fra din nytilmeldte butik:
</p>

<p>
<%= @merchant_store.welcome_offer.description %>
</p>

<p>
Hav en fantastisk dag!

Med venlig hilsen
Club Novus
www.clubnovus.dk
</p>