<p>Kære <%= @member.name %>, <br />
Du er nu tilmeldt "<%= @merchant_store.store_name %>" i <%= @merchant_store.city %>

Se din velkomstgave nedenfor. <br />
</p>

<p>
<%= @merchant_store.welcome_offer.description %>
</p>

<p>
Hav en fantastisk dag!<br />

Med venlig hilsen<br />
Club Novus<br />
www.clubnovus.dk
</p>