<p>Kære <%= @member.name %>, <br />
Velkommen som nyt medlem i Club Novus.
</p>

<p>
Se frem til at modtage spændende nyheder og tilbud fra dine lokale butikker.<br />

Hav en fantastisk dag!<br />

Med venlig hilsen<br />
Club Novus<br />
www.clubnovus.dk
</p>