<% if obj.errors.any? %>
    <div class="alert alert-error width-50">
      Der er fundet <%= obj.errors.count %> fejl
    </div>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li class="text-error">* <%= msg %></li>
      <% end %>
    </ul>
<% end %>