<p>Kære administrator, <br />
Der er modtaget ny henvendelse på clubnovus.dk. Oplysningerne fremgår nedenfor:<br /><br />

Afsender navn: <%= h @name %><br />
Afsender email: <%= @email %><br />

Besked: <%= simple_format(h @message) %><br /><br />

Sørg for at kundeemnet har fået svar indenfor 24 timer!<br /><br />

Med venlig hilsen<br />
Auto Responder<br />
www.clubnovus.dk<br />
</p>