<div class="row-fluid">
		<div class="span6">
			<hr>
			<div class="widget-box">
				<div class="widget-header">
					<h4 class="smaller">
						SMS &amp; QR-koder <i class="icon-hand-right"></i>
						<small>Værd at vide</small>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<p class="muted">
							Din butik har fået tildelt en fast sms-kode som anvendes til tilmelding af nye medlemmer. 
						</p>
						<p class="muted">
							SMS-koden fremgår på udleverede foldere og plakater sammen med QR-koden.
							QR-koden er blot en kopi af sms-koden, men kan læses af kunder med smartphones.
						</p>

						<p class="muted">
							QR-koden er blot en kopi af sms-koden i billedformat, men kan læses af kunder med smartphones.
						</p>
					</div>
				</div>
			</div>
		</div><!-- /span -->
	</div><!--/row-fluid -->