<% provide(:title, 'Rediger oplysninger for butik') %>
<div class="span10">
	<div class="page-header position-relative">
		<h1>
		Stamdata
		<small>
		<i class="icon-double-angle-right"></i>
		Administration af stamdata for butik
		</small>
		</h1>
	</div><!--/.page-header-->
	<%= render 'form' %>
	<%= link_to 'Tilbage', merchant_merchant_store_path(current_merchant_store) %>	
</div>
<br/>
