<% provide(:title, 'For butikker') %>
<% provide(:description, 'Information om Club Novus for butiksejere') %>
<% content_for :breadcrumps do %>
  <li class="active">For butikker</li>
<% end %>
<div class="row-fluid">
    <div class="span9">
        <blockquote class="margin-bottom-50">
            <h2>Vi tester i øjeblikket fremtidens lokale kundeklub</h2>
            <p>Ejer du en lokal butik og ønsker nogle effektive værktøjer til at styrke salget og tiltrække nye kunder? Så er du kommet til det rette sted.</p>

             <p>Med club novus får du adgang til de samme værktøjer som store butikskæder så selvom du driver en mindre forretning kan du lære dine kunder bedre at kende, skabe loyalitet og dermed mersalg.</p>
        </blockquote>
    </div><!-- span12 -->
    <div class="span2 offset1" style="text-align:center;display:block">
        <p>Deltager du i testen?</p>
        <%= link_to shared_login_merchant_path do %>
            <button class="btn-u btn-primary btn-u-blue">
                Login på butikskonto
            </button>
        <% end %>

        <br /><br />
        <p>Yderligere info?</p>
        <%= link_to contact_path do %>
            <button class="btn-u btn-primary btn-u-blue">
                Kontakt os
            </button>
        <% end %>
    </div>
</div><!-- row fluid  -->
    
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div class="headline">
                    <h3>Features</h3>
                </div>
                <p>Club Novus hjælper dig med at opbygge stærke relationer til kunderne i dit lokalområde og holde dem opdateret om nye produkter, tilbud, events og meget andet fra din butik.</p>
                <p>Bemærk at features i det endelige produkt kan ændre sig i forhold til det nedenfor beskrevne</p>
            </div>
    </div>
    <div class="row-fluid">
        <!-- Our Services -->
            <div class="row-fluid servive-block">
                 <div class="span4">
                    <h4>Lokal kunde- og fordelsklub</h4>
                    <p><i class="icon-lightbulb"></i></p>
                    <p>Få adgang til et kæmpe netværk af potentielle kunder som venter på at opdage din butik</p>
                </div>
                <div class="span4">
                    <h4>SMS-kampagnemodul</h4>
                    <p><i class="icon-bullhorn"></i></p>
                    <p>Planlæg sms-kampagner og beløn dine medlemmer med spændende tilbud, særrabatter og gaver når du har lyst</p>
                </div>
                <div class="span4">
                    <h4>Kundeklub for alle</h4>
                    <p><i class="icon-thumbs-up"></i></p>
                    <p>Kundeklubber skal være for alle. Derfor kan alle kunder tilmelde sig via simpel sms-tilmelding eller QR-kode i din butik. </p>
                </div>
            </div><!--/row-fluid-->
            <div class="row-fluid servive-block">
                <div class="span4">
                    <h4>Større synlighed</h4>
                    <p><i class="icon-eye-open"></i></p>
                    <p>Alle butikker får deres egen hjemmeside på clubnovus.dk med information om butikken, aktuelle tilbud, åbningstider, billeder m.v. Alt styres af dig via din butikskonto </p>
                </div>
                <div class="span4">
                    <h4>Sociale medier</h4>
                    <p><i class="icon-globe"></i></p>
                    <p>Engager dine kunder på de sociale medier og omdan dine fans til loyale kunder. Hold din fanside opdateret med tilbud og nyheder fra din butik og skaf nye fans via Facebook kampagner</p>
                </div>
                <div class="span4">
                    <h4>Bliv klogere på salg</h4>
                    <p><i class="icon-magic"></i></p>
                    <p>Vi planlægger at tilbyde butikker mulighed for online salgstræning med ideer og forslag til styrket salg og glade kunder</p>
                </div>
            </div><!--/row-fluid-->
        </div><!--/row-fluid-->        
        <!--//End Our Services -->
        <div class="span12" style="text-align:center">
            <h3>Kontakt os idag for at høre nærmere</h3>
            <%= link_to contact_path do %>
                <button class="btn-u btn-primary btn-u-blue">
                    Kontakt nu
                </button>
            <% end %>
        </div>
    </div><!--/row-fluid-->

    

   