
	<div class="row-fluid">
		<div class="span6">
			<hr>
			<div class="widget-box">
				<div class="widget-header">
					<h4 class="smaller">
						tilbudsliste <i class="icon-hand-right"></i>
						<small>Værd at vide</small>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<p class="muted">
							Anvend medlemstilbud til at belønne dine faste og loyale kunder med særrabatter og andre ekslusive medlemsfordele. 
						</p>
						<p class="muted">
							Gode medlemstilbud tiltrækker både nye medlemmer og fastholder de eksisterende til gensidig fordel.
						</p>
						<p class="muted">
							Aktive medlemstilbud vises på din stamside på clubnovus.dk.
						</p>
					</div>
				</div>
			</div>
		</div><!-- /span -->
	</div><!-- /row-fluid -->