
	<div class="row-fluid">
		<div class="span6">
			<hr>
			<div class="widget-box">
				<div class="widget-header">
					<h4 class="smaller">
						tilbudsliste <i class="icon-hand-right"></i>
						<small>Værd at vide</small>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<p class="muted">
							Afsluttede tilbud vises ikke på clubnovus.dk 
						</p>
						<p class="muted">
							Du har mulighed for at genbruge et tilbud ved at redigere gyldighedsperioden.
						</p>
					</div>
				</div>
			</div>
		</div><!-- /span -->
	</div><!-- /row-fluid -->