<% provide(:title, 'Rediger medlemstilbud') %>
<% provide(:description, 'Redigering af medlemstilbud') %>
<% content_for :breadcrumps do %>
  <li>
    Medlemstilbud
    <span class="divider">
      <i class="icon-angle-right arrow-icon"></i>
    </span>
  </li>
  <li class="active">Rediger medlemstilbud</li>
<% end %>
<h3 class="header blue lighter smaller">
  <i class="icon-money bigger-110"></i>
  Redigering af tilbud
</h3>
<div class="row-fluid">
  <%= render 'form' %>
</div><!-- /.row-fluid -->
<div class="row-fluid">
    <div class="span11">
      <%= link_to :back, class: "btn btn-primary btn-small" do %>
        <i class="icon-arrow-left bigger-110"></i>
        Tilbage
      <% end %>
    </div><!-- /.span11 -->
</div><!-- /.row-fluid -->

<%= render :partial => 'tooltip_new_edit' %>

<% content_for :scripts do %>
    <script>
      $(document).ready(function() {
        $('#status_section').hide();
        $('#preview_section').hide();

        // Cloudinary jQuery integration library uses jQuery File Upload widget
        // (see http://blueimp.github.io/jQuery-File-Upload/).
        // Any file input field with cloudinary-fileupload class is automatically
        // wrapped using the File Upload widget and configured for Cloudinary uploads.
        // You can further customize the configuration using .fileupload method
        // as we do below.
        $(".cloudinary-fileupload")
          .fileupload({
            // Uncomment the following lines to enable client side image resizing and validation.
            // Make sure cloudinary/processing is included the js file
            //disableImageResize: false,
            //imageMaxWidth: 800,
            //imageMaxHeight: 600,
            //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            //maxFileSize: 20000000, // 20MB
            maxFileSize: 1000000, // 1MB
            //dropZone: "#direct_upload",
            start: function (e) {
              $('#status_section').show();
              //$(".status").text("Starter upload");
            },
            progress: function (e, data) {
              var progress = Math.round( (data.loaded * 100.0) / data.total) 
              $('#status_section').find(".percent").text( progress );
              $('#status_section').data('easyPieChart').update(progress);
            },
            fail: function (e, data) {
              $('#status_section').find(".percent").text( "Fejl" );
              //$(".status").text("Upload afbrudt");
            },
            processalways: function(e,data){
            if (data.files.error) alert("Ugyldig billedfil. Billedet må max. fylde 1 mb og skal være i formattet jpeg, gif eller png.\nCheck filen og prøv igen.");
            }
          })
          .off("cloudinarydone").on("cloudinarydone", function (e, data) {
            $("#offer_image_attributes_size").val(data.result.bytes);
            $("#status_section").hide();
            $('#preview_section').show();
            
            //$(".status").text("");
            //$(".preview").html(
            $("#picture_container").empty();
            $("#picture_container").html(
              $.cloudinary.image(data.result.public_id, {
                format: data.result.format, width: 300, height: 300, crop: "fit"
              })
            );
          });
        });
        
        jQuery(function($) {
          $('[data-rel=tooltip]').tooltip({container:'body'});
          $('[data-rel=popover]').popover({container:'body'});
          
          $('textarea.offer').inputlimiter({
            limit: $(this).data('maxlength'),
            lineReturnCount: 2,
            remText: '%n tegn tilbage...',
            limitText: 'maks tilladt: %n.'
          });
          
          var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
          $('.easy-pie-chart.percentage').each(function(){
            $(this).easyPieChart({
              barColor: $(this).data('color'),
              trackColor: '#EEEEEE',
              scaleColor: false,
              lineCap: 'butt',
              lineWidth: 8,
              animate: oldie ? false : 1000,
              size:75
            }).css('color', $(this).data('color'));
          });
          
          $('.date-picker').datepicker().next().on(ace.click_event, function(){
            $(this).prev().focus();
          });
          
          $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            language: 'da',
            autoclose: true
          });

          $("form").on("submit", function () {
            $(this).find(".submission").prop("disabled", true);
          });
          
        });//Close Javascript function
    </script>
  <% end %>