<% provide(:title, 'Backend Dashboard') %>
<% provide(:description, 'Overblik og statistik') %>
<% content_for :breadcrumps do %>
  <li class="active">Backend Dashboard</li>
<% end %>
<h3 class="header blue lighter smaller">
  <i class="icon-dashboard bigger-110"></i>
  Backend Dashboard
</h3>
<div class="row-fluid">
	<div class="span10">
		Indhold
 	</div> <!-- /.span10 -->
</div><!-- /.row-fluid -->