
	<div class="row-fluid">
		<div class="span6">
			<hr>
			<div class="widget-box">
				<div class="widget-header">
					<h4 class="smaller">
						Velkomstgave <i class="icon-hand-right"></i>
						<small>Værd at vide</small>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<p class="muted">
							Velkomstgaven sendes med sms-besked, når en kunde tilmelder sig din kundeklub.
						</p>
						<p class="muted">
							Der indsættes automatisk et link til din butik i sms-beskeden. Se preview-boksen til højre.
						</p>
						<p class="muted">
							Du vælger selv om kunden skal have en gave eller et favorabelt medlemstilbud. Det er op til dig at bestemme.
						</p>
						<p class="muted">
							Der er en 3 måneders karensperiode, hvis et medlem melder sig ud og ind af din kundeklub. Dette er for at undgå snyd ved gentagne tilmeldinger og afmeldinger.
						</p>
					</div>
				</div>
			</div>
		</div><!-- /span -->
	</div><!--/row-fluid -->
	