<!-- Begin MailChimp Signup Form -->
<form action="http://clubnovus.us3.list-manage1.com/subscribe/post?u=15c971671a96d9874a1a967d0&amp;id=8662911f04" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <div class="input-append">
        <input type="text" placeholder="Navn" name="NAME" class="input-medium" id="mce-EMAIL" required>
    </div>
    <div class="input-append">
        <input type="text" placeholder="Email adresse" name="EMAIL" class="input-medium" id="mce-NAME" required>
    </div>
    <button class="btn-u" style="margin-top:5px;">Tilmeld nu</button>
</form>            
<!--End mc_embed_signup-->
<script>
$("#mc-embedded-subscribe-form").validate();
</script>

               