<!--=== Footer ===-->
<div class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <!-- About -->
                <div class="headline"><h3>Om Club Novus</h3></div>  
                <p class="margin-bottom-25">Club Novus er fremtidens kundeklub for lokale butikker. Vores vision er at gøre det attraktivt for kunderne at handle lokalt og opbygge nære relationer til ens favoritbutikker på en sjov og engagerende måde.</p>    

                <!-- Monthly Newsletter -->
                <div class="headline"><h3>Nyhedsbrev</h3></div> 
                <p>Tilmeld dig vores nyhedsbrev og modtag spændende tilbud og nyheder fra dit lokalområde</p>
                <%= render 'layouts/frontend_newsletter_signup' %>
            </div><!--/span4--> 
            
            <div class="span4">
                <div class="posts">
                    <div class="headline"><h3>Seneste blogindlæg</h3></div>
                    <% for entry in FeedEntry.all(:limit => 5, :order => "published_at desc") %>
                        <dd class="dl-horizontal">
                            <p><i class="icon-star"></i>&nbsp;&nbsp;<%= link_to h(entry.name), entry.url %></p>
                        </dd>
                    <% end %>
                </div>
            </div><!--/span4-->

            <div class="span4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h3>Kontakt os</h3></div> 
                <address>
                    DisruptX Business Solutions ApS <br />
                    Klostervangen 34, DK-3360, Danmark  <br />
                    Telefon: +45 2460 0819 <br />
                    Email: <a href="mailto:michel@clubnovus.dk" class="">michel@clubnovus.dk</a>
                </address>

                <!-- Stay Connected -->
                <div id="fb-root"></div>
                <div class="headline"><h3>Følg os på Facebook</h3></div>
                <div class="fb-like-box" data-href="http://www.facebook.com/ClubNovus" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
            </div><!--/span4-->
        </div><!--/row-fluid--> 
    </div><!--/container--> 
</div><!--/footer-->    
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">                     
                <p>2013 &copy; Club Novus. Registreret varemærke | <%= link_to "Medlemsbetingelser", terms_conditions_path, :target => "_blank" %></p>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->
