<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h3 class="color-green pull-left"><%= yield(:title) %></h3>
        <ul class="pull-right breadcrumb">
            <li><%= link_to "Hjem", root_path %><span class="divider">/</span></li>
            <%= yield :breadcrumps %>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->