<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			Hjem
			<span class="divider">
				<i class="icon-angle-right arrow-icon"></i>
			</span>
		</li>
		<%= yield :breadcrumps %>
	</ul><!-- .breadcrumb -->
	<div class="pull-right" style="margin-right:10px">
		<p><strong>Butik: <%= current_merchant_store.store_name %></strong></p>
	</div>
</div>

