<hr>
	<div class="row-fluid">
		<div class="span6">
			<div class="widget-box">
				<div class="widget-header">
					<h4 class="smaller">
						Manuel tilmelding <i class="icon-hand-right"></i>
						<small>Værd at vide</small>
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<p class="muted">
							Test
						</p>
					</div>
				</div>
			</div>
		</div><!-- /span -->
	</div><!-- /row-fluid -->